<main class="mdl-layout__content">
  <div class="page-content">
    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--4-col mdl-cell--6-col-phone">
        <section id="mainContent" class="content-container">
          <h1>HashChat</h1>
          <br>
        <p>"Continue the Conversation"</p>
        <p>about your favorite topics, posts and personalities with free, instant hashtag forums.</p>
        <br>
        <a href="https://itunes.apple.com/app/hashchat-hashtag-group-chat/id1008197240" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect image-button" title="Download on the Apple Store">
        </a>
        </section>
    </div>
      <div id="phoneViews" class="mdl-cell mdl-cell--8-col mdl-cell--4-col-tablet phone-views">

          <img class="phone-left" src="images/iphone.png" alt="hashchat screen">
          <img class="phone-middle" src="images/iphone.png" alt="hashchat screen">
          <img class="phone-right" src="images/iphone.png" alt="hashchat screen">
      </div>
    </div>
  </div>

</main>

<hr>
<!-- have2have -->
<div id="h2hshop"></div>
<!-- <md-grid-list cols="3" >
   <md-grid-tile *ngFor="let post of imagePosts | async"><img class="instagram-image" src="{{post.imgUrl}}" alt="{{post.title}}">
   </md-grid-tile>
</md-grid-list> -->
