<main class="mdl-layout__content">
  <div class="page-content">
    <div class="landing-container">
      <div class="cell1">
        <section id="mainContent" class="content-container">
          <div class="main-view">
            <h1>HashChat</h1>
            <br>
            <p>"Continue the Conversation"</p>
            <p>about your favorite topics, posts and personalities with free, instant hashtag forums.</p>
            <br>
            <div class="store-btn-container">
              <a class="apple-download" md-raised-button href="https://itunes.apple.com/app/hashchat-hashtag-group-chat/id1008197240"></a>
            </div>
            <br>
            <br>
          </div>
        </section>
      </div>
      <div id="phoneViews" class="phone-views">
        <div class="phone-container">
          <div class="phone phone-left">
            <img src="images/iPhone_Shell@3x.png" alt="iphone" class="phone-body">

            <img src="images/Search_HashChat_Predictive@3x.png" alt="Search chats based hashtags" class="phone-screen">
          </div>
          <div class="phone phone-middle">
            <img src="images/iPhone_Shell@3x.png" alt="iphone" class="phone-body">
            <img src="images/Discover_Trending@3x.png" alt="discover trending" class="phone-screen">
          </div>
          <div class="phone phone-right">
            <img src="images/iPhone_Shell@3x.png" alt="iphone" class="phone-body">
            <img src="images/CreateHashChat@3x.png" alt="Create chats around hashtags" class="phone-screen">
          </div>
          </div>
      </div>
    </div>
  </div>

</main>
<!-- have2have -->
<div id="h2hshop feed"></div>
<!-- <md-grid-list cols="3" >
   <md-grid-tile *ngFor="let post of imagePosts | async"><img class="instagram-image" src="{{post.imgUrl}}" alt="{{post.title}}">
   </md-grid-tile>
</md-grid-list> -->
