<section class="about">

<div class="section">
		<h1>About Us</h1>

		<h4>#WhatIsHashChat</h4>

		<p>Millions use hashtags daily to add clarity and character to their posts. So HashChat was made to let friends, fans, networks and customers use tags to interact around ideas.</p>

		<p>Our free iOS app turns a hashtag into a custom URL for any discussion. Features include one-step posting, dynamic discovery, predictive search, private messaging and sharable links. But we have a lot more planned in the near future.</p>

		<p>The app&#39;s design was inspired by iconic NYC MTA maps, because we like to think HashChat gets folks to their destination like transit does.</p>

		<h4>#WhoAreWe</h4>

		<p>We are former &quot;madmen&quot; who literally worked in digital advertising on Madison Avenue. Our Brooklyn-based team has created interactive work for some of the world&#39;s top brands. When we saw an opportunity to apply our experience to instant topic-based communities, we jumped on it. &nbsp;</p>

		<h4>#OurVision</h4>

		<p>We believe in the power of group conversation to help, inform and entertain. There are a lot of great broadcast-based messaging apps, and we love to use them. However, HashChat&#39;s special goal is to connect people around ideas to make life easier and more fun.</p>

		<h4>#YouveGotMail</h4>

		<p>If you have a question, need support or want to talk shop please contact us at: <a href="mailto:info@hashch.at">info@hashch.at</a></p>

	</div>

</section>
	<!-- <div class="section">
	    	<div id="footer"><a href="privacy.html" title="Privacy">Privacy</a><a href="terms.html" title="Terms">Terms of Service</a></div>
	</div> -->
