@import "../colors";
@import "../animations";
$animationTiming: 0.35s;
.logo-link {
  display: block;
}
header {
  position: fixed;
  height: 56px;
  -webkit-transition: height $animationTiming;
  /* Safari */
  transition: height $animationTiming;
  -webkit-transition-timing-function: $material-motion-onscreen;
  transition-timing-function: $material-motion-onscreen;
  button {
    // background-color: black;
    // border-radius: 50%;
    // border: none;
  }
  .mobile-menu {
    opacity: 0;
    z-index: -1;
    position: absolute;;
    width: 100%;
    -webkit-transition: all $animationTiming $material-motion-onscreen;
    /* Safari */
    transition: all $animationTiming $material-motion-onscreen;
    h4{
      color: $textWhite;
      margin-top: 16px;
    }
    .mdl-grid{
      width: 100%;
      margin-top: 8px;
      &.social{
        a.social-icon{
          margin-left: 25% !important;
          margin-right: 25% !important;
        }
      }
      &.footer{
        position: fixed;
        bottom: 0;
      }
    }
  }
}
@media screen and (max-width: 600px) {
  header {
    .mobile-toggle-menu {
      position: fixed;
      opacity: 1;
      z-index: 100;
      // padding: 16px;
      /* Firefox */
      -moz-transition: all $animationTiming;
      /* WebKit */
      -webkit-transition: all $animationTiming;
      /* Opera */
      -o-transition: all $animationTiming;
      /* Standard */
      transition: all $animationTiming;
      -webkit-transition-timing-function: $material-motion-onscreen;
      transition-timing-function: $material-motion-onscreen;
    }
    .header-logo {
      padding: 8px;
      z-index: 100;
      height: 48px;
      width: 48px;
      margin-top: 0;
      margin-left: auto;
      margin-right: auto;
      /* Firefox */
      -moz-transition: all $animationTiming;
      /* WebKit */
      -webkit-transition: all $animationTiming;
      /* Opera */
      -o-transition: all $animationTiming;
      /* Standard */
      transition: all $animationTiming;
    }
    .mobile-menu {
      .content-container{
        h4 {
          margin-left: 16px;
        }
      }
      .app-store-button{
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
  header.opened {
    height: 100vh;
    z-index: 100;
    .header-logo{
      margin-top: 56px;
      height: 70px;
      width: 70px;
    }
    .mobile-toggle-menu {
      -ms-transform: rotate(225deg);
      /* IE 9 */
      -webkit-transform: rotate(225deg);
      /* Safari */
      transform: rotate(225deg);
    }
    .mobile-menu {
      opacity: 1;
    }
  }
}
