.header-logo {
  padding: 16px;
}
.text-white {
  color: white;
}
.icon-white {
  fill:white;
}
body {
  font-family: "HelveticaNeueBold", "HelveticaNeue-Bold", "Helvetica Neue Bold", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosBold', "Helvetica", "Arial", sans-serif;
  font-weight: 600;
  font-stretch: normal;
  /*letter-spacing: -2px;*/
  font-size: 3em;
  color: #000;
  -webkit-font-smoothing: antialiased
}
h1, h2, h3, h4, p, ul, ol, li {
  margin: 0;
  padding: 0;
  line-height: 120%;
  margin-left: 5%;
  margin-right: 20%
}
li {
  margin-right: 0
}
h1 {
  display: block;
  font-size: 300%;
  /*letter-spacing: -6px;*/
  text-indent: -8px;
  width: 55%;
  margin-right: none;
  font-weight: 600;;
}
h2 {
  font-size: 67%;
  letter-spacing: -1px
}
h3 {
  font-size: 200%;
  letter-spacing: -6px;
  padding-top: 5%;
  line-height: 90%;
  padding-bottom: 2%
}
h4 {
  font-size: 125%;
  line-height: 90%
}
p, h4 {
  color: #fff
}
p {
  font-size: 44%
}
p.intro {
  font-size: 54%;
  margin-right: 40%;
  margin-top: 2rem
}
div#ConnectTheThoughts p {
  color: #000;
  padding-top: 1rem;
  margin-right: 40%;
  display: none
}
/*body.policy {
  margin: 0;
  padding: 0
}
body.policy h1 {
  padding-top: 120px;
  line-height: 90%;
  padding-bottom: 90px
}
body.policy {
  font-size: 250%
}
body.policy p {
  font-size: 50%;
  color: #000
}
body.policy h4 {
  color: #000;
  padding-bottom: 1rem
}
body.policy p, body.policy ul, body.policy ol, body.policy li {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0
}
body.policy p {
  padding-bottom: 1rem
}
body.policy li {
  padding-bottom: .33rem
}
body.policy ul li {
  list-style-type: none;
  text-indent: -1rem
}
body.policy ul, body.policy ol {
  padding-bottom: 2rem
}
body.policy ul li:before {
  content: "\2794";
  width: 1rem;
  display: inline-block;
  text-align: center
}
body.policy div#footer {
  position: static;
  padding-top: 5%
}
body.policy div#footer a {
  color: #000
}
body.about h4 {
  padding-top: 2rem
}
body.about h4:nth-of-type(1) {
  color: #21b939;
  !important
}
body.about h4:nth-of-type(2) {
  color: #0052ff;
  !important
}
body.about h4:nth-of-type(3) {
  color: #fead01;
  !important
}
body.about h4:nth-of-type(4) {
  color: #fc129b;
  !important
}
li {
  color: #000;
  font-size: 50%;
  letter-spacing: -.5px
}
@media screen and (max-width:1024px) {
  p.intro {
    font-size: 40%
  }
  p {
    font-size: 35%
  }
}
@media screen and (max-width:702px) {
  h1 {
    font-size: 267%;
    letter-spacing: -6px;
    text-indent: -8px
  }
  p.intro {
    font-size: 40%
  }
  p {
    font-size: 35%
  }
}
@media screen and (max-width:622px) {
  h1 {
    font-size: 200%;
    letter-spacing: -6px;
    text-indent: -8px
  }
  p.intro {
    font-size: 40%
  }
  p {
    font-size: 35%
  }
  p.small {
    font-size: 30%
  }
}
p {
  letter-spacing: -.4px;
  line-height: 120%
}
p a img {
  margin-top: 2.5%
}
i, dd {
  display: inline;
  font-style: normal;
  opacity: 0;
  margin: 0
}
h4 i, h4 dd {
  float: left
}
em {
  color: #000;
  font-style: normal
}
div#logo {
  position: absolute;
  display: block;
  height: 1px;
  overflow: visible;
  z-index: 999;
  margin-left: 5%
}
div#logo a {
  display: block;
  height: 90px;
  width: 50px;
  background: url(hashchatlogo.svg) no-repeat left center;
  text-indent: -10000px;
  margin: 0;
  padding: 0
}
div#nav {
  position: absolute;
  display: block;
  top: 0;
  width: 100%;
  height: 90px;
  z-index: 998;
  font-size: 30%;
  letter-spacing: -.4px;
  text-align: right;
  line-height: 90px
}
h1:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90px;
  background: #000
}
div#nav a {
  display: inline-block;
  text-align: left;
  color: #fff;
  text-decoration: none;
  line-height: 26px;
  padding: 0 1em 0 1em;
  font-weight: 500;
  font-size: 12px
}
div#nav a.a {
  color: gray
}
div#nav a.f {
  margin-right: 1em
}
div#nav a:hover {
  text-decoration: underline
}
div#nav a.s {
  text-indent: -10000px;
  margin-right: 30px;
  width: 90px;
  height: 25px;
  background: url(getit_apple2.svg) no-repeat center center;
  background-size: contain;
  border-radius: 1em
}
div#nav a.s:hover {
  background-image: url(getit_apple2_hover.svg)
}
body:after {
  display: none;
  content: url(getit_apple2_hover.svg)
}
div#phone {
  position: absolute;
  display: table-cell;
  vertical-align: middle;
  top: 80%;
  width: 95%;
  height: 67%;
  transition: top 1s ease-out 1s;
  text-align: right;
  z-index: -99
}
@media screen and (max-width:641px) {
  div#phone {
    width: 95%
  }
}
div#phoneimg {
  position: relative;
  display: inline-block;
  height: 100%;
  width: 30%;
  max-width: 372px;
  background: url(iphone.png) no-repeat right center;
  background-size: contain
}
.phonecenter {
  top: 17%!important
}
.phoneout {
  top: 0%!important
}
form {
  position: relative;
  display: block;
  width: 450px;
  height: 40px;
  margin: 0;
  margin-left: 5%;
  margin-top: 4%;
  padding: 0;
  background: #000;
  border-radius: 4px;
  font-size: 20px;
  line-height: 40px;
  border: 4px solid #000
}
input {
  margin: 0;
  padding: 0;
  border: 0;
  height: 40px;
  font-size: 100%;
  text-indent: 12px
}
input#mce-EMAIL {
  position: absolute;
  width: 324px
}
input#mc-embedded-subscribe {
  position: absolute;
  width: 126px;
  right: 0;
  background: #000 url(arrow-right.png) no-repeat right .67em center;
  background-size: auto 50%;
  color: #fff;
  font-weight: 600;
  text-align: left
}
*:focus {
  outline: none
}
div#footer {
  position: absolute;
  display: block;
  bottom: 0;
  height: 50px;
  font-size: 12px;
  line-height: 20px;
  margin-left: 5%;
  color: #fff;
  letter-spacing: -.4px;
  font-weight: 500
}
div#footer a {
  color: #fff;
  margin-right: 1em
}
.show {
  opacity: 100
}
#scrolltip {
  position: absolute;
  bottom: 0;
  left: 5%;
  margin-bottom: 5%;
  display: none;
  text-indent: -1000px;
  background: url(down-arrow.svg) no-repeat;
  background-size: contain;
  width: 40px;
  height: 40px
}
#pp-nav {
  right: 0!important;
  margin-right: 22px
}
@media screen and (max-width:769px) {
  #pp-nav {
    margin-right: 10px
  }
}*/
#AreWeThereYet em {
  color: #9a9a9a
}
