<main class="mdl-layout__content">
  <div class="page-content">
    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--4-col mdl-cell--6-col-phone">
        <section id="mainContent" class="content-container">
          <div class="main-view">
            <h1>HashChat</h1>
            <br>
            <p>"Continue the Conversation"</p>
            <p>about your favorite topics, posts and personalities with free, instant hashtag forums.</p>
            <br>
            <a href="https://itunes.apple.com/app/hashchat-hashtag-group-chat/id1008197240" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect image-button app-store-button" title="Download on the Apple Store"></a>
          </div>
        </section>
      </div>
      <div id="phoneViews" class="mdl-cell mdl-cell--8-col mdl-cell--4-col-tablet phone-views">

        <img class="phone-left" src="images/iphone.png" alt="hashchat screen">
        <img class="phone-middle" src="images/iphone.png" alt="hashchat screen">
        <img class="phone-right" src="images/iphone.png" alt="hashchat screen">
      </div>
    </div>
  </div>

</main>

<hr>

<instagram-feed class="mdl-layout__content feed"></instagram-feed>
