$socialIconsDefaultColor: white;
$colorTwitter: #55acee;
$colorFacebook: #3b5999;
$colorInstagram: #3f729b;
$colorPinsterest: #bd081c;
$colorTumblr: #34465d;
$colorGooglePlus: #dd4b39;
$colorVine: #00b489;
$colorLinkedin: #0077B5;

//*****TEXT*****//
$textWhite: #FFF;
$textWhiteSecondary: rgba(255, 255, 255, 0.7);
$textWhiteDisabled: rgba(255, 255, 255, 0.5);
