@import "colors";
@import "animations";
.header-logo {
  padding: 16px;
}
.text-white {
  color: $textWhiteSecondary !important;
}
.icon-white {
  fill:white;
}
body {
  font-family:  "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosBold', "Helvetica", "Arial", sans-serif;
  font-stretch: normal;
  /*letter-spacing: -2px;*/
  color: #000;
  -webkit-font-smoothing: antialiased;
}
h1, h2, h3, h4, p, ul, ol, li {
  margin: 0;
  padding: 0;
  line-height: 120%;
}
li {
  margin-right: 0
}
h1 {
  display: block;
  font-size: 300%;
  width: 55%;
  margin-right: none;
  font-weight: 600;;
}
header{
  .social-btns{
    a{
      padding: 16px;
    }
  }
}
.image-button{
  margin: 0;
  padding: 0;
}
.content-container{
  padding: 16px;
}
.centered-container{
  text-align: center;
}
main{
  padding-top: 64px;
  width: 100%;
  overflow: hidden !important;
}
.main-view{
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
}
#mainContent{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  h1{
    width: 100%;
    font-size: 300%;
  }
  p{
    // font-weight: ;
  }
  a{
    height: 40px;
    width: 135px;
    background-image: url('images/Download_on_the_App_Store_Badge_US-UK_135x40.svg');
    margin-top: 8px;
    margin-bottom: 16px;
  }
}
.mdl-grid{
  padding: 0;
}
#phoneViews{
  min-height: 200px;
  overflow: hidden;
  margin: 0;
  margin-top: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  .phone{
    position: absolute;
    width: 30%;
  }
  .phone-body{
    width: 100%;
  }
  .phone-screen{
    position: absolute;
    width: 100%;
    top: 0;
  }
  img{

    // position:relative;
    left:0;
    // margin-left:-25%;
    // width: 29%;
    vertical-align: bottom;
  }
  .phone-left{
    transform: translate(-130%, 5%);
  }
  .phone-middle{
    z-index: 20;
    width: 33%;
    transform: translate(-50%, -5%);
  }
  .phone-right{
    transform: translate(30%, 5%);
  }
}
hr{
  margin:0;
}
.logo-link{
  display: block;
}
header{
  position: fixed;
  height: 56px;
  z-index: 100;
  -webkit-transition: height 1s; /* Safari */
  transition: height 1s;
  .mobile-menu{
    opacity: 0;
    width: 100%;
    // padding: 16px;
    -webkit-transition: opacity 1s; /* Safari */
    transition: opacity 1s;

  }
}
@media screen and (max-width: 600px) {
  .div.header-row{
    padding: 0 16px 0 16px !important;
  }
  .header-logo{
    margin-left: -56px;
  }
  .hide-xs{
    display: none !important;
  }
  .show-xs{
    display: block;
  }
  #mainContent{
    h1{
      font-size: 300%;
    }
  }
  header{
    .mobile-toggle-menu{
      position: fixed;
      opacity: 0;
      // padding: 16px;
      // margin-right: 16px;
      top: 8px;
      right: 16px;
      /* Firefox */
-moz-transition: all 1s ease;
/* WebKit */
-webkit-transition: all 1s ease;
/* Opera */
-o-transition: all 1s ease;
/* Standard */
transition: all 1s ease;
    }
    .header-logo{
      padding: 8px;
      margin-left: auto;
      margin-right: auto;
    }
    .mobile-menu{
      // padding: 16px;
    }

  }
  header.opened{
    height: 100vh;
    z-index: 100;
    .mobile-toggle-menu{
      -ms-transform: rotate(225deg); /* IE 9 */
    -webkit-transform: rotate(225deg); /* Safari */
    transform: rotate(225deg);
    }
    .mobile-menu{
      opacity: 1;
    }

  }
}

// @media screen and (min-width: 480px) {
//
//     #phoneViews{
//       img{
//         margin-top: 100px;
//       }
//     }
// }
@media screen and (min-width: 600px) {
  .page-content {
      margin-left: 4%;
      margin-right: 4%;
  }
  #phoneViews{
    .phone{
      width: 15%;
    }
    .phone-middle{
      z-index: 20;
      width: 20% !important;
      transform: translate(-50%, -5%);
    }
  }

  .hide-lg{
    display: none !important;
  }
  .show-xs{
    display: none;
  }
}

@media screen and (min-width: 960px) {
  #mainContent{
    h1{
      font-size: 500%;
    }
  }
  #phoneViews{
    margin-top: 5%;
    .phone{
      width: 20%;
    }
  }
  .phone-left{
    transform: translate(-130%, 5%);
    width: 20%;
  }
  .phone-middle{
    z-index: 20;
    width: 33%;
    transform: translate(-50%, -5%);
  }
  .phone-right{
    transform: translate(30%, 5%);
    width: 20%;
  }
}

@media screen and (min-width: 1280px) {
  #mainContent{
    h1{
      font-size: 700%;
    }
    p{
      font-size: 2em;
    }
  }
}

@media screen and (min-width: 2560px) {
  #mainContent{
    h1{
      font-size: 1000%;
    }
    p{
      font-size: 3em;
    }
  }
}

.social-icon{
  fill: $socialIconsDefaultColor;
}

.twitter:hover{
  fill: $colorTwitter;
}
.facebook:hover{
  fill: $colorFacebook;
}
.instagram:hover{
  fill: $colorInstagram;
}
.tumblr:hover{
  fill: $colorTumblr;
}
.pinterest:hover{
  fill: $colorPinsterest;
}
a.app-store-button{
  height: 40px;
  width: 135px;
  background-image: url('images/Download_on_the_App_Store_Badge_US-UK_135x40.svg');
  margin-top: 8px;
  margin-bottom: 16px;
}
