<section class="policy">
<div class="section">
		<h1>Terms of Service</h1>

	    <h4>Disclaimer</h4>

	    <p>By using the HashChat app you are agreeing to be bound by the following terms and conditions (&quot;Terms of Use&quot;).</p>
		<br>

	    <h4>Basic Terms</h4>

		<ol>
	    <li>You must be 13 years or older to use this app.</li>

	    <li>You may not post nude, partially nude, or sexually suggestive or explicit photos or content.</li>

	    <li>You are responsible for any activity that occurs under your account.</li>

	    <li>You are responsible for keeping your information secure.</li>

	    <li>You must not abuse, harass, threaten, impersonate or intimidate other HashChat members.</li>

	    <li>You may not use the HashChat service for any illegal or unauthorized purpose. International users agree to comply with all local laws regarding online conduct and acceptable content.</li>

	    <li>You are solely responsible for your conduct and any data, text, information, screen names, graphics, photos, profiles, audio and video clips, links (&quot;Content&quot;) that you submit, post, and display on the HashChat service.</li>

	    <li>You must not modify, adapt or hack HashChat or modify another website so as to falsely imply that it is associated with HashChat.</li>

	    <li>You must not access HashChat&#39;s private API by any other means other than the HashChat application itself.</li>

	    <li>You must not crawl, scrape, or otherwise cache any content from HashChat including but not limited to user profiles and photos.</li>

	    <li>You must not create or submit unwanted communications or comments to any HashChat members (&quot;Spam&quot;).</li>

	    <li>You must not transmit any worms or viruses or any code of a destructive nature.</li>

	    <li>You must not, in the use of HashChat violate any laws in your jurisdiction (including but not limited to copyright laws).</li>

	    <li>Violation of any of these agreements will result in the termination of your HashChat account. While HashChat prohibits such conduct and content on its site, you understand and agree that HashChat cannot be responsible for the Content posted on its web site and you nonetheless may be exposed to such materials and that you use the HashChat service at your own risk.</li>
		</ol>

	    <h4>General Conditions</h4>

		<ol>
	    <li>We reserve the right to modify or terminate the HashChat service for any reason, without notice at any time.</li>

	    <li>We reserve the right to alter these Terms of Use at any time. If the alterations constitute a material change to the Terms of Use, we will notify you via internet mail according to the preference expressed on your account. What constitutes a &quot;material change&quot; will be determined at our sole discretion, in good faith and using common sense and reasonable judgment.</li>

	    <li>We reserve the right to refuse service to anyone for any reason at any time.</li>

	    <li>We reserve the right to force forfeiture of any username that becomes inactive, violates trademark, or may mislead other users.</li>

	    <li>We may, but have no obligation to, remove Content and accounts containing Content that we determine in our sole discretion are unlawful, offensive, threatening, libelous, defamatory, obscene or otherwise objectionable or violates any party&#39;s intellectual property or these Terms of Use.</li>

	    <li>We reserve the right to reclaim usernames on behalf of businesses or individuals that hold legal claim or trademark on those usernames.</li>
		</ol>

	    <h4>Proprietary Rights in Content on HashChat</h4>

		<ol>
	    <li>HashChat contains graphics, text, photographs, images, video, audio, software, code, and advertisements supplied by HashChat or our licensors, which we call &ldquo; HashChat content.&quot; HashChat content is protected by intellectual property laws including copyright and other proprietary rights of the United States and foreign countries.</li>

	    <li>HashChat grants you the right to access the content in the manner described in this agreement. You may not otherwise make unauthorized commercial use of, reproduce, prepare derivative works, distribute copies, perform, or publicly display HashChat content, except as permitted by the doctrine of fair use or as authorized in writing by HashChat.</li>

	    <li>You retain the rights to your copyrighted content or information that you submit to HashChat (&quot;user content&quot;) except as described below.</li>

	    <li>By submitting user content to HashChat you grant HashChat a royalty-free, perpetual, irrevocable, non-exclusive, unrestricted, worldwide license to reproduce, prepare derivative works, distribute copies, perform, or publicly display your user content in any medium and for any purpose, including commercial purposes, and to authorize others to do so.</li>

	    <li>You agree that you have the right to submit anything you post, and that your user content does not violate the copyright, trademark, trade secret or any other personal or proprietary right of any other party.</li>

	    <li>HashChat takes no responsibility for, does not expressly or implicitly endorse, nor assume any liability for any user content submitted by you to HashChat.</li>

	    <li>HashChat contains links, displayed in a web view &nbsp;to third-party mobile websites posted by users. HashChat is not responsible for the content or actions of any third party websites or services associated with posted links. You agree to take sole legal responsibility for any links you post, and neither this agreement nor HashChat&#39;s privacy policy applies to any content on other websites related to those links. You should consult the terms and privacy policies of those other websites to understand your rights.</li>

	    <li>HashChat performs technical functions necessary to offer the HashChat Services, including but not limited to transcoding and/or reformatting Content to allow its use throughout the HashChat Services.</li>

	    <li>Although the Site and other HashChat Services are normally available, there will be occasions when the Site or other HashChat Services will be interrupted for scheduled maintenance or upgrades, for emergency repairs, or due to failure of telecommunications links and equipment that are beyond the control of HashChat Also, although HashChat will normally only delete Content that violates this Agreement, HashChat reserves the right to delete any Content for any reason, without prior notice. Deleted content may be stored by HashChat in order to comply with certain legal obligations and is not retrievable without a valid court order. Consequently, HashChat encourages you to maintain your own backup of your Content. In other words, HashChat is not a backup service. HashChat will not be liable to you for any modification, suspension, or discontinuation of the HashChat Services, or the loss of any Content.</li>
		</ol>
	</div>
	<!-- <div class="section">
	    	<div id="footer"><a href="privacy.html" title="Privacy">Privacy</a><a href="terms.html" title="Terms">Terms of Service</a></div>
	</div> -->
  </section>
